[Desktop Entry]
Comment=A Simple Dictionary/Translator Plasmoid Written in Pure QML.
Encoding=UTF-8
Icon=accessories-dictionary
Keywords=dictionary;translator;
Name=KDictionary
Type=Service
X-KDE-Library=kcm_kwin4_genericscripted
X-KDE-ParentApp=
X-KDE-ParentComponents=kdictionary
X-KDE-PluginInfo-Author=William Wong
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=librehat@outlook.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kdictionary
X-KDE-PluginInfo-Version=0.5.1
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php?content=161349
X-KDE-PluginKeyword=kdictionary
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-Plasma-RequiredDataEngines=
